.view-photo {
  grid-row: 2/3;
  grid-column: 1/2;

}

@media (min-width: 767px) {
  .view-photo {
    grid-row: 2/3;
    grid-column: 2/3;
  }
}

.view-photo__img {
  max-width: 75vw;
  max-height: 75vh;
  min-width: 100%;
  padding-bottom: 7px;
}

.view-photo__title {
  font-family: 'Inter' , 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  margin: 0;
}